.layout {
    width: 800px;
    min-height: 400px;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.myHero {
    border-radius: 8px;

    background:
    linear-gradient(217deg, rgba(62, 20, 75, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(54, 49, 124, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(4, 26, 13, 0.8), rgba(0,0,255,0) 70.71%);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}

.header {
    margin-bottom: 1em;
}

.titleText {
    color:blanchedalmond;
}
